<p>
  <mat-toolbar>
    <span>
      <button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">Register Page</button>
    </span>

    <span>
      <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">Login Page</button>
    </span>

    <span>
      <button mat-raised-button color="primary" routerLink="/bookstore" routerLinkActive="active">Bookstore
        Page</button>
    </span>
  </mat-toolbar>
</p>

<h1>App component</h1>
<router-outlet></router-outlet>
