<mat-toolbar color="accent">
  <span class="gap">
    <button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">Register
      Page</button>
  </span>

  <span class="gap">
    <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">Login Page</button>
  </span>

  <span class="gap">
    <button mat-raised-button color="primary" routerLink="/bookstore" routerLinkActive="active">Bookstore
      Page</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
